<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h1>{{ include.title }}</h1>{% endif %}
        <div class="recentitems portfolio">
            {% assign sorted_projects = (site.categories['project'] | sort: 'title') %}
            {% for project in sorted_projects limit:include.limit %}
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <h2 style="color: black;">{{ project.title }}
                        <a href="{{  project.url | prepend: site.baseurl }}"><i class="fa fa-link"></i></a></h2>
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
